html {
    background: url('../img/bg.jpeg')  no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

body {
    font-family: 'TitilliumWeb';
}

header {
    text-align: center;
    width: 100%;
}

h1 {
    color: $primary-color;
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    border-top: 1px #777 solid;
    color: $secondary-color;
    font-size: 22px;
    letter-spacing: 1px;
    margin: -19px auto 0 auto;
    padding: 11px;
    text-transform: uppercase;
    width: 55%;
}

h5 {
    color: $primary-color;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: normal;
}

#centered {
    background: #000;
    left: 50%;
    opacity: .95;
    padding: 40px 40px 30px 40px;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    width: $content-width;
}

#about {
    color: #fff;
    line-height: 28px;
    font-size: 20px;

    a {
        border-bottom: 1px $link-color dotted;
        color: $link-color;
        margin: 0 2px 0 2px;
        padding: 0 1px;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: $link-color;
            color:#ffe7ed;
        }
    }
}

#avatar {
    border-radius: 200px;
}

#social-networks {
    display: inline-flex;
    float: right;
    list-style: none;
    margin-top: 25px;
    padding: 0;

    li {
        display: inline-flex;
        margin: 0 5px;
    }
    
    .sn {
        background: $secondary-color url('../img/sn-sprite.png') no-repeat;
        border-radius: 100px;
        color: transparent;
        display: inline-block;
        height: 24px;
        padding: 9px;
        width: 24px;

        &:hover {
            background-color: $primary-color;
        }
    }
}


.fb {
    background-position: -1px 9px !important;
}

.gh {
    background-position: -35px 9px !important;
}

.go {
    background-position: -1px -25px !important;
}

.ig {
    background-position: -35px -25px !important;
}

.in {
    background-position: -1px -59px !important;
}

.lfm {
    background-position: -34px -59px !important;
}