@font-face{ 
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-regular.eot');
    src: url('../font/titilliumweb-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumweb-regular.woff') format('woff'),
         url('../font/titilliumweb-regular.ttf') format('truetype'),
         url('../font/titilliumweb-regular.png#webfont') format('png');
}