@media screen and (max-height: 800px) {
    #centered {
        margin: 15% 0 5% 0;
    }
}

@include media-query(700px) {
    #centered {
        box-sizing: border-box;
        left: 0;
        margin: 20px;
        opacity:.8;
        position: relative;
        top: 0;
        transform: initial;
        width: calc(100% - 40px);
    }

    #social-networks,
    h5 {
        float:none;
    }

    h2 {
        box-sizing: border-box;
        width:100%;
    }

    #social-networks {
        display: inline-block;
        width: 90%;

        li {
            margin: 8px;
        }
    }
}

@include media-query(400px) {
    #avatar {
        width:100%;
        box-sizing:border-box;
    }

    h1 {
        font-size:28px;
    }

    h2 {
        font-size:14px;
        margin-top: -12px;
    }

    #about {
        font-size:18px;
    }
}

@include media-query(320px) {
    html {
        background:none;
    }

    #centered {
        background: url("../img/bg-mobile.png");
        margin: 0;
        width:100%;
        opacity: 1;
    }

    h1 {
        font-size:24px;
    }

    h2 {
        margin-top:-10px;
        font-size:14px;
    }
}